spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  
  data:
    mongodb:
      uri: ${MONGODB_URI}
  
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate

jwt:
  secret: ${JWT_SECRET}

logging:
  level:
    com.warehouse: INFO
    org.springframework.web: WARN
    org.springframework.security: WARN
    org.hibernate.SQL: WARN

server:
  error:
    include-stacktrace: never
    include-message: always
